<div id="indexheadad" class="headAd" style="width: 1205px;margin:0 auto;">
  <div class="col-2" id="headAd01">
    <a href="https://www.huobipro.com/zh-cn/notice_detail/?id=890" target="_blank">
      <img src="/assets/images/vip/huobi_ht.jpg"></a>
  </div>
  <div class="col-1" id="headAd03">
    <a href="/app/" target="_blank">
      <img src="/assets/images/vip/appad.png"></a>
  </div>
  <div class="col-2" id="headAd04">
    <a href="https://www.okex.com/?channelId=11625" target="_blank">
      <img src="/assets/images/vip/okex_the.jpg"></a>
  </div>      
</div>