<div id="indexheadad" class="headAd" style="width: 1205px;margin:0 auto;">
  <div class="col-2" id="headAd01">
    <a href="#" target="_blank">
      <img src="<%= asset_path("vip/huobi_ht.jpg")%>"></a>
  </div>
  <div class="col-1" id="headAd03">
    <a href="/pages/app" target="_blank">
      <img src="<%= asset_path("vip/appad.png")%>"></a>
  </div>
  <div class="col-2" id="headAd04">
    <a href="#" target="_blank">
      <img src="<%= asset_path("vip/okex_the.jpg")%>"></a>
  </div>      
</div>