<div class="box box325">
  <div class="banner">
    <div class="bannerIner">
      <a href="//robot.eastcoinbay.com" id="spread2" target="_blank" page="1"><img src="/assets/images/home_fxhrobot.png" ></a>
    </div>
    <div class="bannerPoin"></div>
  </div>
</div>