<style>
.plantListsSpread {
    width: 325px;
    height: 100px;
    position: relative;
}

.plantListsSpread:after {
	content: '广告';
	font-size: 12px;
	background: #fff;
	height: 16px;
	line-height: 16px;
	position: absolute;
	padding: 1px 5px;
	right: 0;
	bottom: 0;
	display: block;
	color: #000;
	opacity: .5
}

.searchRight {
	float: right;
	margin-right: 0;
	margin-bottom: 20px;
}

.searchRight .boxTit {
	padding: 0;
	border: none;
}
</style>
<div class="box box325 searchRight">
  <div class="plantListsSpread">
    <a id="spread3"  href="#" title="东方币湾QQ群：368805087" target="_blank"><img src="<%= asset_path("index03.png")%>"></a>
  </div>
</div>