<style>
.plantListsSpread {
    width: 325px;
    height: 100px;
    position: relative;
}
</style>
<div class="box box325 searchRight">
  <div class="plantListsSpread">
    <a id="spread3"  href="https://jq.qq.com/?_wv=1027&k=5FxHR79" title="东方币湾QQ群：368805087" target="_blank"><img src="<%= asset_path("index03.png")%>"></a>
  </div>
</div>