<footer class="clear">
  <div class="w1200">
    <a class="logo2" href="index.html">
      <img src="<%= asset_path("logo.png")%>" alt="东方币湾的Logo"></a>
    <div class="info">
      <div>
        <a href="/pages/aboutus" target="_blank">关于我们</a>
        <i class="space2"></i>
        <a href="/pages/contact" target="_blank">联系我们</a>
        <i class="space2"></i>
        <a href="/pages/faq" target="_blank">常见问题（f&q）</a>
        <i class="space2"></i>
        <a href="/pages/declare" target="_blank">免责声明</a>
        <i class="space2"></i>
        <a href="#">访问手机版</a></div>
      <div>
        <p>©Copyright eastcoinbay.com 2018 | 备案号：
          <a href="#" target="_blank">粤ICP备16116847号-8</a></p>
      </div>
    </div>
    <div class="media">
      <div class="weCat">
        <div class="detal">
          <img src="<%= asset_path("fwh.jpg")%>" alt="东方币湾微信公众号" width="120" height="120"></div>
      </div>
      <a class="qq" href="#" target="_blank"></a>
      <a class="sina" href='#' target='_blank'></a>
    </div>
  </div>
</footer>
