<style>
.fLink {
    background: #d8d8d8;
    padding: 15px;
    color: #b2b2b2;
    box-shadow: 1px 1px 3px #ccc;
    z-index: 99;
    position: relative
}

.fLink h3 {
    font-size: 16px;
    font-weight: normal;
    color: #777
}

.fLink a {
    margin-top: 10px;
    margin-right: 15px;
    color: #777;
    display: inline-block
}

.fLink a:hover {
    color: #3499da;
    text-decoration: none
}
</style>

<div class="fLink clear">
  <div class="w1200">
    <h3>友情链接</h3>
    <% @friendLinks.each do |link| %>
        <%= link_to link[:title], link[:href], target: "_blank", title: link[:title] %>
    <% end %>
  </div>
</div>