<ul class="rightNav">
  <li class="searchForm" style="float: right">
    <form action="">
      <input type="text" id="input-sm" placeholder="输入关键词...">
      <i class="icon-search" onclick="search(document.getElementById('input-sm').value)"></i>
    </form>
  </li>
  <li class="showmarket" style="float: right">
    <div class="cell">
      <div class="tit">
        <a id="ticker_bitfinex_btc_usd" href="https://www.bitfinex.com/" target="_blank" rel="nofollow">BTC/Bitfinex</a>
      </div>
      <div class="num">65760.67</div>
      <div class="char">
        <span class="line">74963,69215,69949,64859,65673,69645,69664,73802,74023,70970,72158,74451,74097,71692,79155,80295,81992,81890,77899,75842,72178,72454,73489,75000,67701,68396,67139,66349,65760.67</span>
      </div>
    </div>
    <div class="cell">
      <div class="tit">
        <a id="ticker_poloniex_btc_usdt" href="https://poloniex.com/exchange/#usdt_btc" target="_blank" rel="nofollow">BTC/P网</a>
      </div>
      <div class="num">66351.97</div>
      <div class="char">
        <span class="line">75645,70690,69938,63249,66138,70634,70130,73516,74022,70690,71835,74651,73812,71284,79128,80591,82284,81955,77670,75719,72580,71951,74084,75038,67637,68542,67724,66540,66351.97</span>
      </div>
    </div>
    <div class="cell">
      <div class="tit">
        <a id="ticker_bitfinex_eth_usd" href="https://www.bitfinex.com/" target="_blank" rel="nofollow">ETH/Bitfinex</a>
      </div>
      <div class="num">5973.87</div>
      <div class="char">
        <span class="line">7010,6271,6221,5733,5753,6216,6160,6605,6788,6397,6510,6783,6727,6466,7037,7172,7356,7367,7024,6856,6598,6571,6722,6891,6223,6304,6165,6036,5973.87</span>
      </div>
    </div>
  </li>
</ul>