<ul class="leftNav">
  <li class="logo">
    <a href="index.html">
      <img src="/assets/images/logo.png" alt="东方币湾的Logo"></a>
  </li>
  <li class="navSlide">行情
    <ul class="subNav">
      <li>
        <a href="index.html">所有</a></li>
      <li>
        <a href="currencies/index.html">货币</a></li>
      <li>
        <a href="assets/index.html">代币</a></li>
      <li>
        <a href="currencies/newest.html">最新上市</a></li>
      <li>
        <a href="concept/index.html">概念行情</a></li>
      <li>
        <a href="dashboard/charts.html">市值趋势</a></li>
    </ul>
  </li>
  <li class="navSlide">排行榜
    <ul class="subNav">
      <li>
        <a href="currencies/maxchange.html">涨跌幅排行榜</a></li>
      <li>
        <a href="currencies/vol.html">24小时成交额排行(币种)</a></li>
      <li>
        <a href="exchange/vol.html">24小时成交额排行(交易平台)</a></li>
      <li>
        <a href="currencies/monthrank.html">月成交额排行</a></li>
    </ul>
  </li>
  <li>
    <a href="exchange/index.html">交易平台</a></li>
  <li>
    <a href="dashboard/app.html">APP</a></li>
</ul>