<div class="totop">
  <div class="wCat2">
    <div class="detal">
      <img src="<%= asset_path("fwh.jpg")%>" alt="东方币湾微信服务号">
      <img src="<%= asset_path("wxdyh.png")%>" alt="币联社公众号">
      <div style="text-align: center;width: 116px;float: left;color: #fff">东方币湾微信服务号</div>
      <div style="text-align: center;width: 116px;float: left;color: #fff">币联社公众号</div></div>
  </div>
  <a class="qq2" href="https://wpa.qq.com/msgrd?v=3&amp;uin=1162544794&amp;site=qq&amp;menu=yes" target="_blank"></a>
  <a class="sina2" href='https://www.weibo.com/u/6363391733' target='_blank'></a>
  <div class="top"></div>
</div>