<div class="box box325">
  <style>
  .tabTit .more {
    margin-right: 15px;
    margin-top: 15px
  }
  </style>          
  <div class="tabTit">
    <h3 class="active tit" style="width: 40%">涨幅榜</h3>
    <h3 class="tit" style="width: 40%">跌幅榜</h3>
    <a href="currencies/maxchange.html" target="_blank" class="more" title="更多"></a>
  </div>          
  <div class="tabBody padding5" style="height:385px">
    <%= render "currency_maxchanges/index_up" %>      
    <div class="m15"></div>
  </div>
  <div class="tabBody padding5" style="display: none;height:385px">
    <%= render "currency_maxchanges/index_down" %>           
    <div class="m15"></div>
  </div>
  <script>
    $(function(){
      $('.tabTit .tit').click(function () {
        var box = $(this).closest('.box').find('.tabBody');
        var index = $(this).index();
        if (box.eq(index).css('display') !== 'block') {
            $(this).closest('.tabTit').find('.tit').removeClass('active');
            $(this).addClass('active');
            box.css('display', 'none');
            box.eq(index).fadeIn('100');
        }
      });
    })
  </script>
</div>