<style>
.boxTools-i {
  padding: 15px 0
}
</style>              
<div class="boxTools  boxTools-i">
  <div class="slideBtn unit">
    <button>人民币(CNY)</button>
    <ul>
      <li>
        <a href="../index.html#CNY" class="price-toggle" data-currency="cny">人民币(CNY)</a></li>
      <li>
        <a href="../index.html#USD" class="price-toggle" data-currency="usd">美元(USD)</a></li>
      <li>
        <a href="../index.html#BTC" class="price-toggle" data-currency="btc">比特币(BTC)</a></li>
      <li>
        <a href="../index.html#ETH" class="price-toggle" data-currency="eth">以太坊(ETH)</a></li>
      <li>
        <a href="../index.html#JPY" class="price-toggle" data-currency="jpy">日元(JPY)</a></li>
      <li>
        <a href="../index.html#KRW" class="price-toggle" data-currency="krw">韩币(KRW)</a></li>
      <li>
        <a href="../index.html#HKD" class="price-toggle" data-currency="hkd">港币(HKD)</a></li>
      <li>
        <a href="../index.html#RUB" class="price-toggle" data-currency="rub">卢布(RUB)</a></li>
      <li>
        <a href="../index.html#INR" class="price-toggle" data-currency="inr">卢比(INR)</a></li>
      <li>
        <a href="../index.html#AUD" class="price-toggle" data-currency="aud">澳元(AUD)</a></li>
      <li>
        <a href="../index.html#EUR" class="price-toggle" data-currency="eur">欧元(EUR)</a></li>
      <li>
        <a href="../index.html#CHF" class="price-toggle" data-currency="chf">法郎(CHF)</a></li>
      <li>
        <a href="../index.html#GBP" class="price-toggle" data-currency="gbp">英镑(GBP)</a></li>
      <li>
        <a href="../index.html#CAD" class="price-toggle" data-currency="cad">加元(CAD)</a></li>
      <li>
        <a href="../index.html#IDR" class="price-toggle" data-currency="idr">印尼盾(IDR)</a></li>
      <li>
        <a href="../index.html#BRL" class="price-toggle" data-currency="brl">巴西雷亚尔(BRL)</a></li>
      <li>
        <a href="../index.html#MXN" class="price-toggle" data-currency="mxn">比索(MXN)</a></li>
    </ul>
  </div>
  <script>
    $(function(){
      //下拉菜单
      $('.slideBtn').click(function (e) {
          e.stopPropagation();
          if ($(this).find('ul').css('display') !== 'block') {
              $('.slideBtn').find('ul').css('display', 'none');
              $(this).find('ul').slideDown(100);
          }
          else {
              $('.slideBtn').find('ul').slideUp(100);
          }
      });
      $('.unit ul li').click(function () {
          $(this).closest('.slideBtn').find('button').text($(this).text());
          $('.slideBtn').find('ul').slideUp(100);

      });

      //点击屏幕取消
      $('html').click(
          function () {
              $('.slideBtn ul').slideUp(100);
          }
      );
    })
  </script>
  <div style="display:none" id="currency-exchange-rates" data-cny="0.15609634266269143" data-usd="1" data-btc="10407.1" data-eth="937.01207246177455" data-jpy="0.009038240796811307" data-krw="0.0009309210066979767" data-hkd="0.1279132236690629" data-rub="0.017693180782728624" data-inr="0.01567275291905023" data-aud="0.796781004740847" data-eur="1.2246707472695966" data-chf="1.0394707846341271" data-gbp="1.3952177516344977" data-cad="0.8015710793154583" data-idr="7.47758696218376e-05" data-brl="0.3121297361005507" data-mxn="0.053277072744515125"></div>
  <style>
  .tabTit-b a {
    cursor: pointer
  }
  </style>   
  <style>
    .pageList {
      float: right
    }

    .pageList a {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border: 1px solid #eaecef;
      display: block;
      float: left;
      color: #333;
      border-right: 0;
      transition: all .3s;
      text-decoration: none
    }

    .pageList a:hover {
      background: #3499da;
      color: #fff
    }

    .pageList a:first-child {
      border-radius: 3px 0 0 3px
    }

    .pageList a:last-child {
      border-radius: 0 3px 3px 0;
      border-right: 1px solid #eaecef
    }

    .pageList a:active,
    .pageList .active {
      background: #3499da;
      color: #fff
    }
  </style>             
  <div class="pageList tabTit-b">
    <a>1小时</a>
    <a class="active">24小时</a>
    <a>1星期</a>
  </div>
  <script>
    $('body').on('click', '.tabTit-b a', function() {
      var index = $(this).index();
      var table = $(this).closest('.tabBody').find('table');
      if (table.eq(index).css('display') != 'block') {
        table.css('display', 'none');
        table.eq(index).fadeIn('fast');
        $(this).closest('.tabTit-b').find('a').removeClass('active');
        $(this).addClass('active');
      }
    });
  </script>
</div>
<style>
.table-rank tbody tr td:first-child span {
  margin-left: 5px
}

.table-rank thead tr th:first-child {
  padding-left: 10px
}
</style> 
<table class="table table-rank" style="display:none">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>简称</th>
      <th>成交额(24小时)</th>
      <th>价格</th>
      <th>% 1小时</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="../currencies/vault-coin/index.html" target="_blank">
          <img src="https://static.eastcoinbay.com/Coin/634829bbcf3695970c962e9e97c858d_small.png" alt="Vault Coin">Vault Coin</a></td>
      <td>VLTC</td>
      <td class="volume" data-usd="35138" data-cny="226665" data-btc="3.4">
        <a href="../currencies/vault-coin/index.html#markets" target="_blank">¥23万</a></td>
      <td class="price" data-usd="0.000766" data-cny="0.004906" data-btc="0.00000007">
        <a href="../currencies/vault-coin/index.html#markets" target="_blank">¥0.004906</a></td>
      <td>
        <span class="text-red">-58.65%</span></td>
    </tr>
  </tbody>
</table>
<table class="table table-rank">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>简称</th>
      <th>成交额(24小时)</th>
      <th>价格</th>
      <th>% 24小时</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="../currencies/vault-coin/index.html" target="_blank">
          <img src="https://static.eastcoinbay.com/Coin/634829bbcf3695970c962e9e97c858d_small.png" alt="Vault Coin">Vault Coin</a></td>
      <td>VLTC</td>
      <td class="volume" data-usd="35138" data-cny="226665" data-btc="3.4">
        <a href="../currencies/vault-coin/index.html#markets" target="_blank">¥23万</a></td>
      <td class="price" data-usd="0.000766" data-cny="0.004906" data-btc="0.00000007">
        <a href="../currencies/vault-coin/index.html#markets" target="_blank">¥0.004906</a></td>
      <td>
        <span class="text-red">-68.67%</span></td>
    </tr>
  </tbody>
</table>
<table class="table table-rank" style="display:none">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>简称</th>
      <th>成交额(24小时)</th>
      <th>价格</th>
      <th>% 1周</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="../currencies/terranova/index.html" target="_blank">
          <img src="https://static.eastcoinbay.com/Coin/d8233213f95bd1ec7da881980a94_small.png" alt="TerraNova">TerraNova</a></td>
      <td>TER</td>
      <td class="volume" data-usd="145341" data-cny="909439" data-btc="14.05">
        <a href="../currencies/terranova/index.html#markets" target="_blank">¥91万</a></td>
      <td class="price" data-usd="40.32" data-cny="258" data-btc="0.003899">
        <a href="../currencies/terranova/index.html#markets" target="_blank">¥258</a></td>
      <td>
        <span class="text-red">-95.19%</span></td>
    </tr>
  </tbody>
</table>