<style>
.tabTit-a {
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
}

.tabTit-a li:last-child {
  margin-right: 0;
}

.tabTit-a li {
  display: block;
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  width: 79px;
  text-align: center;
  transition: all .2s;
  margin-bottom: 5px;
  margin-right: 5px;
}

.tabTit-a li:hover,
.tabTit-a li.active {
  color: #fff;
  background: #3499da;
  border-color: #3499da
}
</style> 
<ul class="tabTit-a" id="maxchange_down">
  <li class="active">1小时</li>
  <li>24小时</li>
  <li>1周</li>
</ul>
<script>
  $('body').on('click', '.tabTit-a li', function () {
    var index = $(this).index();
    var table = $(this).closest('.tabBody').find('table');
    if (table.eq(index).css('display') == 'table') {
        return
    }
    else {
        table.css('display', 'none');
        table.eq(index).fadeIn('fast');
        $(this).closest('.tabTit-a').find('li').removeClass('active');
        $(this).addClass('active');
    }
  });
</script>
<style>

.table-rank tr td:first-child span {
  display: inline-block;
  padding: 0 6px;
  height: 20px;
  background: #ccc;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  color: #fff
}

.table-rank tr:nth-child(1) td:nth-child(1) span {
  background: #3499da
}

.table-rank tr:nth-child(2) td:nth-child(1) span {
  background: #3499da;
  opacity: .8
}

.table-rank tr:nth-child(3) td:nth-child(1) span {
  background: #3499da;
  opacity: .5
}
.table-rank tbody tr td:first-child span {
  margin-left: 5px
}

.table-rank thead tr th:first-child {
  padding-left: 10px
}
</style>
<style>
.maxchange {
  background: #fff !important
}
</style>
<table class="table table-rank noBg maxchange">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <% (1..5).each do %>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/zzm/">
          <img src="//static.eastcoinbay.com/Coin/20171128/366df9e0882f45cf9e891554709b984d.png" alt="ZZM">ZZM</a></td>
      <td>¥2.02</td>
      <td>
        <span class="text-red">-100%</span></td>
    </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-rank noBg maxchange" style="display: none">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <% (1..20).each do %>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/crave/">
          <img src="//static.eastcoinbay.com/Coin/a72ef05bbdbc26cfb6fa5838e9fae029_small.png" alt="CRAVE">CRAVE</a></td>
      <td>¥7.35</td>
      <td>
        <span class="text-red">-86.11%</span></td>
    </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-rank noBg maxchange" style="display: none">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <% (1..20).each do %>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/dimoncoin/">
          <img src="//static.eastcoinbay.com/Coin/eabc8f33bff0873399e61f931012b8e8_small.png" alt="FUDD">FUDD</a></td>
      <td>¥0.00000615</td>
      <td>
        <span class="text-red">-96.52%</span></td>
    </tr>
    <% end %>
  </tbody>
</table>  