<style>
.searchRight {
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.searchRight .boxTit {
  padding: 0;
  border: none;
}
</style>
<div class="box325 searchRight">
  <div class="boxTit">
    <h2>今日热门</h2>
  </div>
  <style>
  .hotsearch a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    border-radius: 35px;
    background: #f1f1f1;
    padding: 0 15px;
    margin-top: 10px;
    color: #666;
    text-decoration: none;
  }

  .hotsearch a:hover {
    background: #3499da;
    color: #fff;
  }
  </style>
  <div class="hotsearch">
    <a href="/search?word=BTC">BTC</a>
    <a href="/search?word=eos">eos</a>
    <a href="/search?word=IOST">IOST</a>
    <a href="/search?word=ETH">ETH</a>
    <a href="/search?word=DDD">DDD</a>
    <a href="/search?word=XRP">XRP</a>
    <a href="/search?word=TNB">TNB</a>
    <a href="/search?word=VEN">VEN</a>
    <a href="/search?word=btm">btm</a>
    <a href="/search?word=DOGE">DOGE</a>
  </div>
</div>