<ul class="tabTit-a" id="maxchange_down">
  <li class="active">1小时</li>
  <li>24小时</li>
  <li>1周</li>
</ul>
<table class="table table-rank noBg maxchange">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/zzm/">
          <img src="//static.eastcoinbay.com/Coin/20171128/366df9e0882f45cf9e891554709b984d.png" alt="ZZM">ZZM</a></td>
      <td>¥2.02</td>
      <td>
        <span class="text-red">-100%</span></td>
    </tr>
  </tbody>
</table>
<table class="table table-rank noBg maxchange" style="display: none">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/crave/">
          <img src="//static.eastcoinbay.com/Coin/a72ef05bbdbc26cfb6fa5838e9fae029_small.png" alt="CRAVE">CRAVE</a></td>
      <td>¥7.35</td>
      <td>
        <span class="text-red">-86.11%</span></td>
    </tr>
  </tbody>
</table>
<table class="table table-rank noBg maxchange" style="display: none">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/dimoncoin/">
          <img src="//static.eastcoinbay.com/Coin/eabc8f33bff0873399e61f931012b8e8_small.png" alt="FUDD">FUDD</a></td>
      <td>¥0.00000615</td>
      <td>
        <span class="text-red">-96.52%</span></td>
    </tr>
  </tbody>
</table>  