<style>
.tabTit-a {
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
}

.tabTit-a li:last-child {
  margin-right: 0;
}

.tabTit-a li {
  display: block;
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  width: 79px;
  text-align: center;
  transition: all .2s;
  margin-bottom: 5px;
  margin-right: 5px;
}

.tabTit-a li:hover,
.tabTit-a li.active {
  color: #fff;
  background: #3499da;
  border-color: #3499da
}
</style> 
<ul class="tabTit-a" id="maxchange_up">
  <li>1小时</li>
  <li class="active">24小时</li>
  <li>1周</li>
</ul>
<table class="table table-rank noBg maxchange" style="display: none">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/bitcedi/">
          <img src="//static.eastcoinbay.com/Coin/acdac54c36ae917c449fa5adca9e20e1_small.png" alt="BXC">BXC</a></td>
      <td>¥0.5604</td>
      <td>
        <span class="text-green">47.14%</span></td>
    </tr>
  </tbody>
</table>
<table class="table table-rank noBg maxchange">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/scry/">
          <img src="//static.eastcoinbay.com/Coin/20180120/3aaa9c6dfc2a45058ef6e813f2fd3777.png" alt="DDD">DDD</a></td>
      <td>¥2.11</td>
      <td>
        <span class="text-green">128.42%</span></td>
    </tr>
  </tbody>
</table>
<table class="table table-rank noBg maxchange" style="display: none">
  <thead>
    <tr>
      <th>排名</th>
      <th>名称</th>
      <th>价格</th>
      <th>涨幅</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>1</span></td>
      <td>
        <a href="/currencies/cfcion66/">
          <img src="//static.eastcoinbay.com/Coin/20171219/fd3cfc3a61a6466cadbbf2b07a4038bf.png" alt="咖啡金链-CFC">咖啡金链-CFC</a></td>
      <td>¥0.4261</td>
      <td>
        <span class="text-green">1647.74%</span></td>
    </tr>
  </tbody>
</table>     