<div class="boxTools">
  <div class="slideBtn btnlink">
    <a href="index.html">全部</a>
  </div>
  <div class="slideBtn btnlink usercustom">
    <a href="currencies/userticker.html">自选行情</a>
  </div>
  <div class="slideBtn">
    <button>货币</button>
    <ul>
      <li>
        <a href="currencies/index.html">前100</a></li>
      <li class="sline"></li>
      <li>
        <a href="currencies/index.html">根据流通市值排序</a></li>
      <li>
        <a href="currencies/marketcap-by-totalsupply/index.html">根据总市值排序</a></li>
      <li>
        <a href="currencies/filter-nonmineable/index.html">过滤不可挖矿</a></li>
      <li>
        <a href="currencies/filter-premined/index.html">过滤预挖矿的</a></li>
      <li>
        <a href="currencies/filter-nonmineable_premined/index.html">过滤不可挖矿及预挖矿的</a></li>
    </ul>
  </div>
  <div class="slideBtn">
    <button>代币</button>
    <ul>
      <li>
        <a href="assets/index.html">前100</a></li>
      <li class="sline"></li>
      <li>
        <a href="assets/index.html">根据流通市值排序</a></li>
      <li>
        <a href="assets/marketcap-by-totalsupply/index.html">根据总市值排序</a></li>
    </ul>
  </div>
  <div class="slideBtn unit">
    <button>人民币(CNY)</button>
    <ul>
      <li>
        <a href="index.html#CNY" class="price-toggle" data-currency="cny">人民币(CNY)</a></li>
      <li>
        <a href="index.html#USD" class="price-toggle" data-currency="usd">美元(USD)</a></li>
      <li>
        <a href="index.html#BTC" class="price-toggle" data-currency="btc">比特币(BTC)</a></li>
      <li>
        <a href="index.html#ETH" class="price-toggle" data-currency="eth">以太坊(ETH)</a></li>
      <li>
        <a href="index.html#JPY" class="price-toggle" data-currency="jpy">日元(JPY)</a></li>
      <li>
        <a href="index.html#KRW" class="price-toggle" data-currency="krw">韩币(KRW)</a></li>
      <li>
        <a href="index.html#HKD" class="price-toggle" data-currency="hkd">港币(HKD)</a></li>
      <li>
        <a href="index.html#RUB" class="price-toggle" data-currency="rub">卢布(RUB)</a></li>
      <li>
        <a href="index.html#INR" class="price-toggle" data-currency="inr">卢比(INR)</a></li>
      <li>
        <a href="index.html#AUD" class="price-toggle" data-currency="aud">澳元(AUD)</a></li>
      <li>
        <a href="index.html#EUR" class="price-toggle" data-currency="eur">欧元(EUR)</a></li>
      <li>
        <a href="index.html#CHF" class="price-toggle" data-currency="chf">法郎(CHF)</a></li>
      <li>
        <a href="index.html#GBP" class="price-toggle" data-currency="gbp">英镑(GBP)</a></li>
      <li>
        <a href="index.html#CAD" class="price-toggle" data-currency="cad">加元(CAD)</a></li>
      <li>
        <a href="index.html#IDR" class="price-toggle" data-currency="idr">印尼盾(IDR)</a></li>
      <li>
        <a href="index.html#BRL" class="price-toggle" data-currency="brl">巴西雷亚尔(BRL)</a></li>
      <li>
        <a href="index.html#MXN" class="price-toggle" data-currency="mxn">比索(MXN)</a></li>
    </ul>
  </div>
  <div style="display:none" id="currency-exchange-rates" data-cny="0.15609634266269143" data-usd="1" data-btc="10407.1" data-eth="937.01207246177455" data-jpy="0.009038240796811307" data-krw="0.0009309210066979767" data-hkd="0.1279132236690629" data-rub="0.017693180782728624" data-inr="0.01567275291905023" data-aud="0.796781004740847" data-eur="1.2246707472695966" data-chf="1.0394707846341271" data-gbp="1.3952177516344977" data-cad="0.8015710793154583" data-idr="7.47758696218376e-05" data-brl="0.3121297361005507" data-mxn="0.053277072744515125"></div>
  <div class="pageList">
    <a href="currencies/index.html">全部</a>
    <a href='index.html#' class='btn btn-white'>
      <</a>
        <a href='index.html#' class='btn btn-white active'>1</a>
        <a class='btn btn-white' href='list_2.html'>2</a>
        <a class='btn btn-white' href='list_3.html'>3</a>
        <a class='btn btn-white' href='list_4.html'>4</a>
        <a class='btn btn-white' href='list_5.html'>5</a>
        <a href='index.html#' class='btn btn-white'>...</a>
        <a class='btn btn-white' href='list_18.html'>18</a>
        <a class='btn btn-white' href='list_2.html'>></a>
  </div>
</div>