<div class="boxTools">
  <div class="pageList">
    <a href="currencies/index.html">全部</a>
    <a href='index.html#' class='btn btn-white'>
      <</a>
        <a href='index.html#' class='btn btn-white active'>1</a>
        <a class='btn btn-white' href='list_2.html'>2</a>
        <a class='btn btn-white' href='list_3.html'>3</a>
        <a class='btn btn-white' href='list_4.html'>4</a>
        <a class='btn btn-white' href='list_5.html'>5</a>
        <a href='index.html#' class='btn btn-white'>...</a>
        <a class='btn btn-white' href='list_18.html'>18</a>
        <a class='btn btn-white' href='list_2.html'>></a>
  </div>
</div>