<style>
.post {
  height: 120px;
  background: url('<%=asset_path("post.jpg")%>');
  background-size: 100%;
  line-height: 120px
}

.post h1 {
  color: #fff;
  display: inline-block
}

.post span {
  color: #fff
}
</style>    
<div class="post">
  <div class="w1200">
    <div class="boxContain">
      <h1>关于我们</h1>
      <span>ABOUTUS</span></div>
  </div>
</div>
<div class="m30"></div>
<div class="w1200">
  <div class="col">
    <div class="box box860" style="background: none;border-right:1px solid #ddd ">
      <div class="boxContain">
        <style>
        .artBox {
          padding: 15px 0
        }

        .artBox p {
          line-height: 25px;
          margin-bottom: 15px
        }

        .artBox p>img {
          max-width: 100%;
          display: block;
          margin: 0 auto
        }

        .artBox h1,
        .artBox h2,
        .artBox h3,
        .artBox h4 {
          font-size: 18px;
          margin-bottom: 15px
        }

        .artBox img {
          clear: both;
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          height: auto !important;
          max-width: 100% !important;
          width: auto !important
        }  
        </style>            
        <section class="artBox" style="min-height: 700px;">
          <p>
            <strong>网站简介</strong></p>
          <p>东方币湾&nbsp;&nbsp;(www.eastcoinbay.com)&nbsp;&nbsp;是国内首家最专业的数字货币行业大数据平台，中文版的coinmarketcap，专注于为数字货币用户提供数据分析，数据挖掘服务。我们拥有全球1000多个数字货币，200多家交易平台，5千多个交易对的数据资源，提供最专业的数字货币趋势分析，行情分析等多维度，全方位的分析服务。&nbsp;未来发展的主要方向是数字货币行业大数据挖掘，数字货币相关工具应用。</p>
          <p>&nbsp; 我们努力为数字货币玩家，数字货币媒体从业人员创造更多&ldquo;有价值&rdquo;，&ldquo;有权威&rdquo;的数据分析服务，向用户提供与之相关的投资渠道，共同推动数字货币相关应用的发展，建立一个良好的数字货币生态圈。
            <br />&nbsp;</p>
          <p>&nbsp;</p>
        </section>
      </div>
    </div>
    <div class="box box325" style="background: none;width: 234px;">
      <div class="boxContain">
        <div class="m15"></div>
        <style>
        .about li {
          margin-bottom: 20px
        }
        </style>            
        <ul class="about">
          <li>关于我们</li>
          <li>
            <a href="../pages/contact">联系我们</a></li>
          <li>
            <a href="../pages/faq">常见问题</a></li>
          <li>
            <a href="../pages/declare">免责声明</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>