<style>
.post {
  height: 120px;
  background: url('<%=asset_path("post.jpg")%>');
  background-size: 100%;
  line-height: 120px
}

.post h1 {
  color: #fff;
  display: inline-block
}

.post span {
  color: #fff
}
</style>     
<div class="post">
  <div class="w1200">
    <div class="boxContain">
      <h1>联系我们</h1>
      <span>CONTACT</span></div>
  </div>
</div>
<div class="m30"></div>
<div class="w1200">
  <div class="col">
    <div class="box box860" style="background: none;border-right:1px solid #ddd ">
      <div class="boxContain">
        <style>
        .artBox {
          padding: 15px 0
        }

        .artBox p {
          line-height: 25px;
          margin-bottom: 15px
        }

        .artBox p>img {
          max-width: 100%;
          display: block;
          margin: 0 auto
        }

        .artBox h1,
        .artBox h2,
        .artBox h3,
        .artBox h4 {
          font-size: 18px;
          margin-bottom: 15px
        }

        .artBox img {
          clear: both;
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          height: auto !important;
          max-width: 100% !important;
          width: auto !important
        }  
        </style>
        <section class="artBox" style="min-height: 700px;">
          <p>广告合作QQ：
            <a href="https://wpa.qq.com/msgrd?v=3&amp;uin=86258584&amp;site=qq&amp;menu=yes" target="_blank">86258584</a></p>
          <p>商务合作QQ：
            <a href="https://wpa.qq.com/msgrd?v=3&amp;uin=2409859098%0A&amp;site=qq&amp;menu=yes" target="_blank">2409859098</a></p>
          <p>客服QQ：
            <a href="https://wpa.qq.com/msgrd?v=3&amp;uin=2472364024&amp;site=qq&amp;menu=yes" target="_blank">2472364024</a>&nbsp; &nbsp;
            <a href="https://wpa.qq.com/msgrd?v=3&amp;uin=1162544794&amp;site=qq&amp;menu=yes" target="_blank">1162544794</a>（友链、数据错误反馈、交易所收录、币种提交等）</p>
          <p>QQ交流群：
            <a href="https://jq.qq.com/?_wv=1027&amp;k=5FxHR79" target="_blank">368805087</a></p>
          <p>工作时间: 周一至周五 上午8:30-12:00 下午 14:00-18:00</p>
          <p>&nbsp;</p>
        </section>
      </div>
    </div>
    <div class="box box325" style="background: none;width: 234px;">
      <div class="boxContain">
        <div class="m15"></div>
        <style>
        .about li {
          margin-bottom: 20px
        }
        </style>             
        <ul class="about">
          <li>
            <a href="../pages/aboutus">关于我们</a></li>
          <li>联系我们</li>
          <li>
            <a href="../pages/faq">常见问题</a></li>
          <li>
            <a href="../pages/declare">免责声明</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>