<style>
.post {
  height: 120px;
  background: url('<%=asset_path("post.jpg")%>');
  background-size: 100%;
  line-height: 120px
}

.post h1 {
  color: #fff;
  display: inline-block
}

.post span {
  color: #fff
}
</style>     
<div class="post">
  <div class="w1200">
    <div class="boxContain">
      <h1>免责声明</h1>
      <span>DECLARE</span></div>
  </div>
</div>
<div class="m30"></div>
<div class="w1200">
  <div class="col">
    <div class="box box860" style="background: none;border-right:1px solid #ddd ">
      <div class="boxContain">
        <style>
        .artBox {
          padding: 15px 0
        }

        .artBox p {
          line-height: 25px;
          margin-bottom: 15px
        }

        .artBox p>img {
          max-width: 100%;
          display: block;
          margin: 0 auto
        }

        .artBox h1,
        .artBox h2,
        .artBox h3,
        .artBox h4 {
          font-size: 18px;
          margin-bottom: 15px
        }

        .artBox img {
          clear: both;
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          height: auto !important;
          max-width: 100% !important;
          width: auto !important
        }  
        </style>
        <section class="artBox" style="min-height: 700px;">
          <p>免责和版权声明
            <br />欢迎您光临东方币湾数字货币行情网站（以下称&quot;本平台&quot;）。在您使用本平台各项服务之前，请仔细阅读本《免责声明》。本平台域名为eastcoinbay.com，网站名称：东方币湾。凡以任何方式登陆浏览本平台内容或直接、间接使用本平台内容者，视为同意本平台《免责声明》。
            <br />　　风险提示：本平台承诺提供专业资讯服务，但不承诺投资者获取收益，也不与投资者约定分享投资收益或分担投资损失。市场有风险，投资需谨慎。
            <br />　　一、本平台依法提供数字货币行情资讯业务。如有发现任何机构或个人冒用东方币湾或东方币湾工作人员在网络上非法从事投资咨询业务，请及时与本平台联系，东方币湾保留对侵权机构或个人追究法律责任的权利。
            <br />　　二、本平台的内容受法律法规及国际条约的保护。除法律另有规定或本平台与第三方另有约定外，本网站提供的所有资料以及相关软件程序的知识产权均归属东方币湾所有。
            <br />　　三、任何机构或者个人使用本平台，均应遵守有关法律法规、国际条约及本声明，不得破坏本平台运行安全，不得利用本平台进行任何违法活动，不得损害东方币湾的合法权益。
            <br />　　四、未经东方币湾书面许可，任何机构或个人不得以向他人出售牟利为目的使用本平台的任何内容，此种使用包括但不限于拷贝、下载、存贮、通过硬盘拷贝或电子抓取系统获取、发送、转换、出租、演示、转载、复制、修改、销售、传播、出版或任何其它形式的散发。
            <br />　　五、本平台对所提供的内容力求准确、完整和及时，但并不对其准确性、完整性和及时性做出任何保证。对任何因直接或间接使用本网站内容而造成的损失，包括但不限于因有关内容不准确、不完整而导致的损失，东方币湾不承担任何法律责任。本平台亦不保证所设置的外部链接的准确性和完整性。任何机构或者个人通过本平台与其他网站的链接而获得其他网站内容，其风险责任自负，东方币湾对此不承担任何法律责任。
            <br />六、权利人认为本平台所提供的信息存储空间、搜索或链接服务存储、搜索或链接的内容所涉及的作品侵犯了其信息网络传播权或者被删除、改变了自己的权利管理电子信息的，可依法向本平台提交书面通知。权利人应对通知书的真实性负责，并承担由于通知书内容不真实所导致的全部法律责任。
            <br />　&nbsp;&nbsp;&nbsp;七、本声明受相关法律及国际条约的约束并依据其解释。如出现纠纷，双方应友好协商，协商不成，任何一方可提请本平台所在地人民法院诉讼解决。在法律允许的最大范围内，本条款最终解释权归东方币湾享有。</p></section>
      </div>
    </div>
    <div class="box box325" style="background: none;width: 234px;">
      <div class="boxContain">
        <div class="m15"></div>
        <style>
        .about li {
          margin-bottom: 20px
        }
        </style>             
        <ul class="about">
          <li>
            <a href="../pages/aboutus">关于我们</a></li>
          <li>
            <a href="../pages/contact">联系我们</a></li>
          <li>
            <a href="../pages/faq">常见问题</a></li>
          <li>免责声明</li>
        </ul>
      </div>
    </div>
  </div>
</div>