<div class="m30"></div>
<div class="w1200">
  <div class="col">
    <div class="box box1200">
      <div class="m15"></div>
      <div class="boxContain">
        <div class="tab-header">
          <style>
          .highcharts-loading {
            background: url("loading.gif") center no-repeat
          }
          </style>
          <div for="highcharts-graph" id="highcharts-loading" class="text-center highcharts-loading" style="height: 520px">
            <div>
              <style>
              .loading {
                background: url("loading.gif") center no-repeat
              }
              </style>
              <span class="loading"></span>
            </div>
          </div>
          <style>
          .highcharts-nodata {
            background: url("nodata.png") center no-repeat
          }
          </style>
          <style>
          .hidden {
            display: none
          }
          </style>
          <div for="highcharts-graph" id="highcharts-nodata" class="hidden text-center highcharts-nodata" style="height: 520px"></div>
          <div class="clear"></div>
        </div>
        <div id="highcharts-graph"></div>
        <div class="m15"></div>
      </div>
    </div>
  </div>
</div>

<script>
  
  function GbiGraph(graphId, loadingId, noDataId) {
      HighChartsGraph.call(this, graphId, loadingId, noDataId);

  }
  GbiGraph.prototype = new HighChartsGraph;
  GbiGraph.constructor = GbiGraph;
  GbiGraph.prototype.finishUpdateCharts = function (seriesData) {
      var that = this;
      var chart = $('#' + that.graphId).highcharts();
      chart.series[0].setData(seriesData["gbi"]);
      chart.hideLoading();
  }
  GbiGraph.prototype.fetchAndLoad = function (callback, start, end) {

      var that = this;
      timeParams = ""
      if (start !== undefined && end !== undefined) {
          timeParams = start + "/" + end + "/";
      }
      $.ajax({
          url: "/pages/gbi.json?" + timeParams,
          type: "GET",
          dataType: "json",
          error: function () {
              that.hideLoading();
              that.showNoData();
          },
          success: function (data) {
              callback.call(that, data);
          }
      });
  }
  GbiGraph.prototype.initCharts = function (seriesData) {
      var that = this;
      Highcharts.setOptions({
          global: { useUTC: false },
          lang: {
              downloadJPEG: "下载jpg",
              downloadPDF: '下载pdf',
              downloadPNG: '下载png',
              downloadSVG: '下载svg',
              loading: '',
              months: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
              printChart: '打印图表',
              shortMonths: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
              rangeSelectorFrom: "从",
              rangeSelectorTo: "到",
              rangeSelectorZoom: "缩放",
              resetZoom: "恢复初始缩放等级",
              resetZoomTitle: " 1:1缩放等级",
              shortWeekdays: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
              weekdays: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
              numericSymbols: ["千", "百万", '十亿'],
              thousandsSep: ","
          }
      });
      var titleName = "全球区块链GBI指数走势图";

      $('#' + that.graphId).highcharts('StockChart', {
          chart: { type: 'line', zoomType: is_mobile() ? 'null' : 'x', height: 520, ignoreHiddenSeries: true },
          tooltip: { shared: true, hideDelay: 50, xDateFormat: '%A, %b %d %Y, %H:%M:%S' },
          legend: {
              enabled: true,
              align: 'center',
              backgroundColor: '#FFFFFF',
              borderColor: 'black',
              borderWidth: 0,
              layout: 'horizontal',
              verticalAlign: 'bottom',
              y: 0,
              shadow: false,
              floating: false
          },
          navigator: { adaptToUpdatedData: false },
          scrollbar: { liveRedraw: false },
          title: { text: titleName, align: "left", style: { fontSize: "24px" } },
          subtitle: { text: '' },
          rangeSelector: {
              allButtonsEnabled: true,
              buttons: [{ type: 'day', count: 1, text: 'D' }, { type: 'week', count: 1, text: 'W' }, {
                  type: 'month',
                  count: 1,
                  text: 'M'
              }, { type: 'year', count: 1, text: 'Y' }, { type: 'all', text: 'ALL' }],
              selected: 5,
              inputEnabled: true,
              enabled: true
          },
          xAxis: [{
              dateTimeLabelFormats: {
                  day: '%Y<br/>%m-%d',
                  week: '%Y<br/>%m-%d',
                  month: '%Y-%m',
                  year: '%Y'
              },
              events: {
                  afterSetExtremes: function (e) {
                      that.afterSetExtremes(e)
                  }
              }, minRange: 24 * 3600 * 1000
          }],
          yAxis: [{
              labels: { formatter: label_format_fiat, style: { color: '#666666', }, align: "left", x: -30 },
              title: { text: '', style: { color: '#666666', 'font-weight': 'bold' } },
              showEmpty: false,
              height: '100%',
              opposite: true,
              floor: 0
          }],
          series: [{
              name: '全球区块链GBI指数',
              yAxis: 0,
              color: '#85BCEB',
              tooltip: { pointFormatter: tooltip_format_fiat },
              data: seriesData["gbi"],
              dataGrouping: { enabled: false }
          }],
          plotOptions: {
              series: {
                  events: {
                      legendItemClick: function (event) {
                          var index = event.target.index
                          save_preferences(that.chartName, index, this.chart);
                      }
                  }
              }
          },
      });
      that.hideLoading();
  }

  $(document).ready(function () {
      $(function () {
          var gbiGraph = new GbiGraph("highcharts-graph", "highcharts-loading", "highcharts-nodata")

          gbiGraph.init();

      });

  });      
</script>