<div class="box box325">
  <div class="boxTit">
    <h2>交易所成交额排行榜</h2>
    <a href="../exchange/vol.html" class="more" title="更多"></a>
  </div>
  <div class="tabBody padding5">
    <style>
    .table-rank tbody tr td:first-child span {
      margin-left: 5px
    }

    .table-rank thead tr th:first-child {
      padding-left: 10px
    }
    </style>             
    <table class="table table-rank noBg" id="vol_exchange">
      <thead>
        <tr>
          <th>排名</th>
          <th>交易所</th>
          <th>成交量</th></tr>
      </thead>
      <tbody>
        <% (1..20).each do %>
        <tr>
          <td>
            <span>1</span></td>
          <td>
            <a href="/exchange/binance/">
              <img src="//static.eastcoinbay.com/PlatImages/20170805/fc88d4f22dec4d67b374e6d46aab7380_15_15.png" alt="币安网-Binance">币安网-Binance</a></td>
          <td>¥1,658,503万</td>
        </tr>
        <% end %>
      </tbody>              
    </table>
  </div>
</div>