<div class="box box1200" id="timeLineBox">
  <div class="boxTit">
    <h2>BTC大事件</h2>
    <a href="../currencies/bitcoin/event.html" target="_blank" class="more"></a>
  </div>
  <div class="boxContain">
    <div class="timeLineWinodow">
      <ul class="timeLine" id="coineventtimeline">
        <li>
          <div class="time">2017-08-03</div>
          <div class="lineDot"></div>
          <div class="tit">
            <span>16</span>
            <h3>比特币支付在印度大爆发，印度音乐节BTC付款占比1%</h3></div>
        </li>          
        <li>
          <div class="time">2017-09-03</div>
          <div class="lineDot"></div>
          <div class="tit">
            <span>16</span>
            <h3>比特币支付在印度大爆发，印度音乐节BTC付款占比1%</h3></div>
        </li>   
        <li>
          <div class="time">2017-10-03</div>
          <div class="lineDot"></div>
          <div class="tit">
            <span>16</span>
            <h3>比特币支付在印度大爆发，印度音乐节BTC付款占比1%</h3></div>
        </li>   
        <li>
          <div class="time">2017-11-03</div>
          <div class="lineDot"></div>
          <div class="tit">
            <span>16</span>
            <h3>比特币支付在印度大爆发，印度音乐节BTC付款占比1%</h3></div>
        </li>                                 
      </ul>
    </div>
  </div>
</div>