<style>

.infocell {
  padding: 15px 0;
  font-size: 16px;
  padding-left: 15px;
  width: 500px;
  float: left;
}

.infocell .info {
  color: #999
}

.infocell  button {
  background: #2e8ded;
  color: #fff;
  border: none;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 3px;
  vertical-align: 1px;
  cursor: pointer;
}

.infocell .input {
  display: none;
}

.infocell input {
  width: 300px;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.infocell  button.cancel {
  background: #fff;
  border: 1px solid #ddd;
  height: 27px;
  color: #666;
  line-height: 27px
}

.infocell  button:hover {
  background: #1d80bf;
  color: #fff
}
</style>
<div class="m30"></div>
<div class="w1200">
  <div class="col">
    <div class="box box325">
      <style>
      .userCard {
        height: 130px;
        background: url("<%= asset_path("card.png") %>");
      }

      .userCard .headPic {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        float: left;
        background: #fff;
        margin-top: 25px;
        margin-left: 15px;
        overflow: hidden;
      }

      .userCard .headPic img {
        height: 100%;
        width: 100%;
        display: block;
      }

      .userCard .userName {
        color: #fff;
        float: left;
        width: 210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 40px;
        margin-left: 10px;
      }

      .userCard .main {
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .userCard .sub {
        font-size: 12px;
        margin-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      </style>
      <div class="userCard">
        <style>
        .headpic img {
          height: 120px;
          width: 120px;
          margin-top: 10px;
        }
        </style>
        <div class="headPic">
          <img src="<%= asset_path("sharelogo.png") %>">
        </div>
        <div class="userName">
          <div class="main">179309463@qq.com</div>
          <div class="sub">Email：179309463@qq.com</div></div>
      </div>
      <div class="menu">
        <style>
        .usermenu {
          min-height: 600px;
        }

        .usermenu li {
          height: 50px;
          font-size: 18px;
          line-height: 50px;
          text-align: center;
          border-bottom: 1px solid #f1f1f1;
          color: #666;
        }

        .usermenu li a {
          display: block;
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: #666;
        }

        .usermenu li.active {
          color: #1d80bf;
        }

        .usermenu li a:hover {
          color: #1d80bf;
        }    
        </style>    
        <ul class="usermenu">
          <li class="active">个人中心</li>
          <li>
            <a rel="nofollow" onclick="javascript: logout(); return false; ">登出账户</a></li>
        </ul>
      </div>
    </div>
    <div class="box box860">
      <div class="boxTit">
        <h1>个人中心</h1>
      </div>
      <style>
      .padding15 {
        padding: 15px;
        min-height: 657px;
      }
      </style>
      <div class="padding15 userinfo">
        <div class="infocell">
          <span class="main">登陆账号：</span>
          <span class="info">179309463@qq.com</span></div>
        <div class="infocell">
          <span class="main">用户昵称：</span>
          <span class="info"></span>
          <span class="input nameedit">
            <input>
            <button type="submit" class="sure">确定</button>
            <button type="reset" class="cancel">取消</button>
          </span>
          <span class="editbtn editname">
            <a>更改</a>
          </span>
        </div>
        <div class="infocell">
          <span class="main">注册时间：</span>
          <span class="info">2018年01月13日</span>
        </div>
        <div class="infocell">
          <span class="main">修改密码</span>
          <style>
          .pwdedit {
            margin-top: 10px;
            line-height: 35px;
            color: #999;
            font-size: 14px;
            display: none;
          }

          .pwdedit input.padding {
            margin-left: 14px;
          }

          .pwdedit button {
            margin-top: 5px;
          }

          .pwdedit .sure {
            margin-left: 70px;
          }
          </style>
          <style>
          .editbtn {
            font-size: 14px;
            cursor: pointer;
          }

          .editbtn:before {
            content: url("<%= asset_path("edit.png") %>");
          }

          </style>
          <div class="input pwdedit">旧密码：
            <input value="" type="password" class="padding" id="old">
            <br>新密码：
            <input value="" type="password" class="padding" id="new1">
            <br>确认密码：
            <input value="" type="password" id="new2">
            <br>
            <button type="submit" class="sure">确定</button>
            <button type="reset" class="cancel">取消</button></div>
          <span class="editbtn editpwd">
            <a>更改</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.infocell .editname,.infocell .editpwd').click(function() {
    $(this).hide();
    $(this).closest('.infocell').find('.info').hide();
    $(this).closest('.infocell').find('.input').show()

  });
  $('.infocell .cancel').click(function() {
    $(this).closest('.infocell').find('.info').show();
    $(this).closest('.infocell').find('.input').hide();
    $(this).closest('.infocell').find('.editbtn').show()
  });
  $('.nameedit .sure').click(function() {
    var a = $(this);
    if (a.closest('.infocell').find('input').val() == '') {
      return false
    } else {
      var ii = layer.load();
      $.ajax({
        url: '/user/post.setting',
        type: 'POST',
        dataType: 'json',
        xhrFields: {
          withCredentials: true
        },
        data: {
          username: a.closest('.infocell').find('input').val()
        },
        success: function(data) {
          a.closest('.infocell').find('.info').text(a.closest('.infocell').find('input').val());
          a.closest('.infocell').find('.editbtn').show();
          a.closest('.infocell').find('.info').show();
          a.closest('.infocell').find('.input').css('display', 'none');
          a.closest('.infocell').find('.nameedit input').attr('value', a.closest('.infocell').find('input').val());
          layer.close(ii);
        },
        error: function() {
          layer.close(ii);
          layer.msg('网络错误');
        }
      })
    }
  });

  $('.pwdedit .sure').click(function() {
    if ($('#old').val() == '' || $('#new1').val() == '' || $('#new2').val() == '') {
      layer.msg('请填写完整表单再提交');
      return false
    } else if ($('#new1').val() != $('#new2').val()) {
      layer.msg('两次新密码输入不一致');
      return false
    } else if ($('#new1').val().length < 6) {
      layer.msg('密码长度必须大于等于6位');
      return false
    } else {
      a = $(this);
      var ii = layer.load();
      $.ajax({
        url: '/user/post.editPwd',
        type: 'POST',
        dataType: 'json',
        xhrFields: {
          withCredentials: true
        },
        data: {
          oldPwd: $('#old').val(),
          password: $('#new1').val(),
          confirmPwd: $('#new2').val()
        },
        success: function(data) {
          a.closest('.infocell').find('.editbtn').show();
          a.closest('.infocell').find('.info').show();
          a.closest('.infocell').find('.input').hide();
          layer.close(ii);
          layer.msg('修改成功');
        },
        error: function() {
          layer.close(ii);
          layer.msg('网络错误');
        }
      })
    }
  });

</script>