<div class="box box340">
  <div class="boxTit">
    <h2>平台最新公告</h2>
    <a href="../exchange/notice/huobipro.html" target="_blank" class="more" title="更多"></a>
  </div>
  <div class="boxContain">
    <style>

    .artList {
      padding: 10px 0
    }

    .artList li>a, .artList2 li {
      display: block;
      height: 40px;
      line-height: 40px;
      color: #333
    }

    .artList li .tit {
      display: inline-block;
      width: calc(100% - 95px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
    }

    .artList img {
      vertical-align: middle;
      margin-right: 3px
    }

    .artList li .time {
      display: inline-block;
      white-space: nowrap;
      width: 80px;
      float: right;
      color: #999
    }

    .artList li a:hover span {
      color: #3499da
    }
    </style>
    <ul class="artList">
      <% (1..20).each do %>
      <li>
        <a href="https://www.huobi.pro/zh-cn/notice_detail/?id=896" target="_blank" rel="nofollow" title="火币全球专业站1月23日14:30上线CoinMeet (MEE)">
          <span class="tit">
            <img src="https://static.eastcoinbay.com/PlatImages/20171115/65e8aa3023b44970b936887a914d1ab4_15_15.png" alt="火币全球专业站1月23日14:30上线CoinMeet (MEE)">火币全球专业站1月23日14:30上线CoinMeet (MEE)</span>
          <span class="time">01-23 14:30</span></a>
      </li>
      <% end %>
    </ul>
  </div>
</div>