<div class="m30"></div>
<div class="w1200">
  <div class="col">
    <div class="box box1200">
      <div class="boxTit">
        <h2>交易平台公告列表</h2></div>
      <div class="boxContain">
        <div class="m15"></div>
        <style>
        .noticeList li img {
          vertical-align: -3px
        }

        .noticeList li {
          display: flex;
          flex-flow: row nowrap;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px dashed #eee
        }

        .noticeList li .web {
          margin-right: 10px
        }

        .noticeList li .tit {
          color: #333;
          display: inline-block;
          flex: 1
        }

        .noticeList li .tit:hover {
          color: #3499da;
          text-decoration: none
        }

        .noticeList li .tit .time {
          float: right;
          color: #999
        }
        </style>             
        <ul class="noticeList">
          <li>
            <a href="../../kucoin/index.html" class="web">[库币网]</a>
            <a href="https://news.kucoin.com/trade-io%E4%BA%8E2018%E5%B9%B41%E6%9C%8823%E6%97%A5%E4%B8%8A%E7%BA%BFkucoin/" class="tit" target="_blank" rel="nofollow" title="trade.io于2018年1月23日上线KuCoin!">
              <img src="https://static.eastcoinbay.com/PlatImages/20171012/abe6f121516549289e5e629f0e7b0afb_15_15.png" alt="trade.io于2018年1月23日上线KuCoin!">trade.io于2018年1月23日上线KuCoin!
              <span class="time">2018-01-23 21:12</span></a>
          </li>
        </ul>
        <div class="m15"></div>
      </div>
      <div class="boxTools">
        <style>
          .pageList {
            float: right
          }

          .pageList a {
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            border: 1px solid #eaecef;
            display: block;
            float: left;
            color: #333;
            border-right: 0;
            transition: all .3s;
            text-decoration: none
          }

          .pageList a:hover {
            background: #3499da;
            color: #fff
          }

          .pageList a:first-child {
            border-radius: 3px 0 0 3px
          }

          .pageList a:last-child {
            border-radius: 0 3px 3px 0;
            border-right: 1px solid #eaecef
          }

          .pageList a:active,
          .pageList .active {
            background: #3499da;
            color: #fff
          }

          .pageList-left {
            float: none !important;
            display: inline-block;
            vertical-align: top
          }
        </style>          
        <div class="pageList">
          <a href='index.html#' class='btn btn-white'>
            <</a>
              <a href='index.html#' class='btn btn-white active'>1</a>
              <a class='btn btn-white' href='list_2.html'>2</a>
              <a class='btn btn-white' href='list_3.html'>3</a>
              <a class='btn btn-white' href='list_4.html'>4</a>
              <a class='btn btn-white' href='list_5.html'>5</a>
              <a href='index.html#' class='btn btn-white'>...</a>
              <a class='btn btn-white' href='list_113.html'>113</a>
              <a class='btn btn-white' href='list_2.html'>></a></div>
      </div>
      <div class="m15"></div>
    </div>
  </div>
</div>