<div class="box box325">
  <div class="boxTit">
    <h2>热门概念</h2>
    <a class="more" href="concept/index.html" target="_blank"></a>
  </div>
  <style>
  .coinhotconcept .active {
    border: none !important
  }

  .coinhotconcept a {
    display: inline-block
  }
  </style>
  <style>
  .unit2 {
    padding: 0 5px 0 5px;
    margin-top: 6px
  }

  .unit2 a {
    color: #333;
    padding-top: 4px;
    margin-right: 8px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px !important
  }

  .unit2 a:hover {
    text-decoration: none;
    color: #3499da
  }

  .unit2 a.active {
    border-top: 3px solid #3499da;
    color: #3499da
  }
  </style>
  <div class="unit2 coinhotconcept">
    <div id="hotconcept">
      <a href="javascript:void(0);" onclick="loadconcept(10)" class="active">社交通讯</a>
      <a href="javascript:void(0);" onclick="loadconcept(21)">内容版权</a>
      <a href="javascript:void(0);" onclick="loadconcept(6)">游戏概念</a>
      <a href="javascript:void(0);" onclick="loadconcept(22)">超级算力</a>
      <a href="javascript:void(0);" onclick="loadconcept(14)">数据存储</a>
      <a href="javascript:void(0);" onclick="loadconcept(11)">支付概念</a>
      <a href="javascript:void(0);" onclick="loadconcept(15)">资产交易</a>
      <a href="javascript:void(0);" onclick="loadconcept(12)">市场预测</a>              
    </div>
  </div>
  <script>
    $('.unit2 a').click(function() {
      if ($(this).hasClass('active')) {
        return;
      }
      $('.unit2 a').removeClass('active');
      $(this).addClass('active')
    });
  </script>  
  <div class="m15"></div>
  <div class="boxContain" style="height:395px">
    <style>
    .table3 {
      width: 100%;
      font-size: 13px;
      background: #fff
    }

    .table3 img {
      vertical-align: -2px;
      margin-right: 3px
    }

    .table3 th {
      background: #f4f4f4;
      color: #999;
      padding: 5px 0;
      font-weight: normal;
      text-align: left;
      white-space: nowrap
    }

    .table3 tbody tr:first-child td {
      padding-top: 12px
    }

    .table3 tbody tr td:first-child {
      padding-left: 10px
    }

    .table3 tbody {
      padding-top: 5px
    }

    .table3 td {
      padding: 7px 0;
      white-space: nowrap;
      height: 24px
    }

    .table3 td, .table3 th {
      padding-left: 5px;
      padding-right: 5px
    }

    .table3 tbody tr:hover {
      background: #e9e9e9 !important
    }

    .table3 tbody tr:nth-child(2n) {
      background-color: #f9f9f9
    }

    .table3 .char span {
      display: none
    }

    .table3 .char canvas {
      margin-top: 10px
    }

    .table3 tbody tr:first-child td {
      padding-top: 7px
    }
    </style>
    <style>
    .Hotidea .tags-green, 
    .Hotidea .tags-red {
      transform: scale(0.9, 0.9);
      margin-left: 2px;
      vertical-align: -1px
    }

    .Hotidea a {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0
    }



    .hotidea a {
      white-space: nowrap;
      width: 73px;
      display: block;
      float: left;
      height: 26px;
      line-height: 26px;
      text-align: center;
      color: #999;
      text-decoration: none
    }

    .hotidea {
      overflow: hidden
    }

    .Hotidea {
      margin-bottom: 9px
    }

    .hotidea a.active, .hotidea a:hover {
      color: #3499da
    }
    .Hotidea tr td:first-child {
      text-align: left
    }

    .Hotidea tr td {
      text-align: right
    }

    .Hotidea tr th {
      text-align: center
    }

    .Hotidea tr th:first-child {
      text-align: left;
      padding-left: 10px
    }  
    </style>  
    <table class="table3 Hotidea">
      <thead>
        <tr>
          <th>名称</th>
          <th>价格</th>
          <th>涨跌幅</th></tr>
      </thead>
      <tbody id="hotconceptCoinTable"></tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function loadconcept(conceptid) {
      $.ajax({
          //url: "/concept/" + conceptid + "/hotconceptCoinTable.html",
          url: "/concepts/currencies.html",
          async: true,
          success: function (data) {
              $("#hotconceptCoinTable").html("");
              $("#hotconceptCoinTable").append(data);
          }
      });
  }    
  $(function(){
    $('body').on('click', "#hotconcept a", function () { 
        if ($(this).hasClass('active')) {
            return;
        }
        $('#hotconcept a').removeClass('active');
        $(this).addClass('active')
    })         
    loadconcept(0);
  });
</script>