<div class="box box325">
  <div class="boxTit">
    <h2>热门概念</h2></div>
  <div class="padding5">
    <style>
    .table3 {
      width: 100%;
      font-size: 13px;
      background: #fff
    }

    .table3 img {
      vertical-align: -2px;
      margin-right: 3px
    }

    .table3 th {
      background: #f4f4f4;
      color: #999;
      padding: 5px 0;
      font-weight: normal;
      text-align: left;
      white-space: nowrap
    }

    .table3 tbody tr:first-child td {
      padding-top: 12px
    }

    .table3 tbody tr td:first-child {
      padding-left: 10px
    }

    .table3 tbody {
      padding-top: 5px
    }

    .table3 td {
      padding: 7px 0;
      white-space: nowrap;
      height: 24px
    }

    .table3 td, .table3 th {
      padding-left: 5px;
      padding-right: 5px
    }

    .table3 tbody tr:hover {
      background: #e9e9e9 !important
    }

    .table3 tbody tr:nth-child(2n) {
      background-color: #f9f9f9
    }

    .table3 .char span {
      display: none
    }

    .table3 .char canvas {
      margin-top: 10px
    }

    .table3 tbody tr:first-child td {
      padding-top: 7px
    }
    </style>
    <style>
    .Hotidea .tags-green, 
    .Hotidea .tags-red {
      transform: scale(0.9, 0.9);
      margin-left: 2px;
      vertical-align: -1px
    }

    .Hotidea a {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0
    }



    .hotidea a {
      white-space: nowrap;
      width: 73px;
      display: block;
      float: left;
      height: 26px;
      line-height: 26px;
      text-align: center;
      color: #999;
      text-decoration: none
    }

    .hotidea {
      overflow: hidden
    }

    .Hotidea {
      margin-bottom: 9px
    }

    .hotidea a.active, .hotidea a:hover {
      color: #3499da
    }
    .Hotidea tr td:first-child {
      text-align: left
    }

    .Hotidea tr td {
      text-align: right
    }

    .Hotidea tr th {
      text-align: center
    }

    .Hotidea tr th:first-child {
      text-align: left;
      padding-left: 10px
    }  
    </style> 
    <table class="table3 Hotidea">
      <thead>
        <tr>
          <th>名称</th>
          <th>涨幅</th>
          <th>表现最强</th></tr>
      </thead>
      <tbody>
        <% (1..5).each do %>
        <tr>
          <td>
            <a href="index.html" target="_blank">游戏概念</a></td>
          <td>
            <span class="text-red">-1.41%</span></td>
          <td>
            <a href="../currencies/ugchain/index.html" target="_blank">UGC
              <span class="tags-green">30%</span></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>