<div class="box box325">
  <div class="boxTit">
    <h2>热门概念</h2></div>
  <div class="padding5">
    <table class="table3 Hotidea">
      <thead>
        <tr>
          <th>名称</th>
          <th>涨幅</th>
          <th>表现最强</th></tr>
      </thead>
      <tbody>
        <% (1..5).each do %>
        <tr>
          <td>
            <a href="index.html" target="_blank">游戏概念</a></td>
          <td>
            <span class="text-red">-1.41%</span></td>
          <td>
            <a href="../currencies/ugchain/index.html" target="_blank">UGC
              <span class="tags-green">30%</span></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>