<div class="box box250" style="width: 250px">
  <div class="boxContain">
    <div class="tit">
      <h1>游戏概念</h1>
      <p class="sub">平均涨跌幅(24h)</p>
    </div>
    <div class="change text-red">-1.41%</div>
  </div>
</div>
<style>
.box935 {
  width: 935px;
  overflow: hidden
}
</style>
<div class="box box935">
  <style>
  .cell {
    padding: 15px;
    float: left;
    width: 260px
  }

  .cell>div {
    margin-bottom: 5px;
    color: #666
  }

  .cell .num-b {
    font-size: 35px;
    font-weight: bold;
    color: #666
  }

  .cell .small {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px
  }

  .cell .num {
    font-size: 20px;
    color: #666;
    min-height: 19px;
    font-weight: bold
  }

  .cell .tit {
    color: #000
  }
  </style>
  <div class="cell">
    <div class="tit">货币总数</div>
    <div class="text">11</div></div>
  <div class="cell">
    <div class="tit">上涨</div>
    <div class="text">2</div></div>
  <div class="cell">
    <div class="tit">下跌</div>
    <div class="text">9</div></div>
  <div class="cell">
    <div class="tit">表现最强</div>
    <div class="text" title="UGC">
      <a href="../currencies/ugchain/index.html" target="_blank">UGC</a>
      <span class="tags-green">29.58%</span>
    </div>
  </div>
  <div class="cell">
    <div class="tit">表现最弱</div>
    <div class="text" title="GTC-G币">
      <a href="../currencies/gamecom/index.html" target="_blank">GTC</a>
      <span class="tags-red">-10.85%</span>
    </div>
  </div>
</div>