<div class="m30"></div>
<%= render "share/advertisement" %>

<div class="m15"></div>
<div class="w1200">

  <div class="col">        
    <div class="box box860" style="min-height:880px">
      <style>
      .pageList {
        float: right
      }

      .pageList a {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border: 1px solid #eaecef;
        display: block;
        float: left;
        color: #333;
        border-right: 0;
        transition: all .3s;
        text-decoration: none
      }

      .pageList a:hover {
        background: #3499da;
        color: #fff
      }

      .pageList a:first-child {
        border-radius: 3px 0 0 3px
      }

      .pageList a:last-child {
        border-radius: 0 3px 3px 0;
        border-right: 1px solid #eaecef
      }

      .pageList a:active,
      .pageList .active {
        background: #3499da;
        color: #fff
      }

      .pageList-left {
        float: none !important;
        display: inline-block;
        vertical-align: top
      }
      </style>       
      <div class="boxTit">
        <h2>概念行情</h2>
      </div>
      <div class="boxTools" style="display:none;">
        <div class="pageList">
          <a href='index.html#' class='btn btn-white'>
            <</a>
              <a href='index.html#' class='btn btn-white active'>1</a>
              <a href='index.html#' class='btn btn-white'>></a>
        </div>
      </div>
      <div class="boxContain">
        <table class="table3 ideaTabel" id="table">
          <thead>
            <tr>
              <th>概念</th>
              <th>24时成交额</th>
              <th>平均涨跌幅</th>
              <th>表现最强</th>
              <th>表现最弱</th>
              <th>币数总数</th>
              <th>上涨数/下跌数</th></tr>
          </thead>
          <tbody>
            <% (1..20).each do %>
            <tr>
              <td>
                <a href="../concept/6.html" target="_blank">游戏概念</a></td>
              <td>¥32,434万</td>
              <td class="text-red">-0.67%</td>
              <td title="UGC">
                <a href="../currencies/ugchain/index.html" target="_blank">UGC</a>
                <span class="tags-green">32.37%</span></td>
              <td title="GTC-G币">
                <a href="../currencies/gamecom/index.html" target="_blank">GTC</a>
                <span class="tags-red">-11.79%</span></td>
              <td>11</td>
              <td>
                <span class="text-green">2</span>/
                <span class="text-red">9</span></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="boxTools">
        <div class="pageList">
          <a href='index.html#' class='btn btn-white'>
            <</a>
              <a href='index.html#' class='btn btn-white active'>1</a>
              <a href='index.html#' class='btn btn-white'>></a>
        </div>
      </div>
      <script>
        new Tablesort(document.getElementById('table'));
      </script>
    </div>

    <%= render "concepts/index.hot.simple" %>

    <%= render 'share/banner2' %>
    <%= render "currency_maxchanges/index" %>   
  </div>
</div>

