@import "bootstrap-sprockets";
@import "bootstrap";
@import "raty/lib/jquery.raty";
$thredded-brand: #9c27b0;

@import "thredded";
.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}

dl.dl-vertical dd{
	padding-left: 30px;
}