<div class="boxContain overflow">
  <table class="table3 tableMaxWidth" id="markets">
    <thead>
      <tr>
        <th>排名</th>
        <th>交易所</th>
        <th>交易对</th>
        <th>价格</th>
        <th>成交量</th>
        <th>成交额</th>
        <th>占比</th>
        <th data-sort-method='none'>更新时间</th>
        <th data-sort-method='none'>自选状态</th></tr>
    </thead>
    <tbody>
      <%= (1..20).each do %>
      <tr class="adList">
        <td>*</td>
        <td>
          <a href="https://www.okex.com/?channelId=1162544" target="_blank">
            <img src="https://static.eastcoinbay.com/PlatImages/20171229/436b21096b4f4853ac26802c1b29a132_15_15.png" alt="OKEX">OKEX</a></td>
        <td>
          <a href="https://www.okex.com/?channelId=1162544" target="_blank">BTC/USDT</a></td>
        <td class="price" data-usd="10233" data-cny="65558" data-btc="1" data-native="10217">¥65,558</td>
        <td>71,429</td>
        <td class="volume" data-usd="730949188" data-cny="4682679784" data-btc="71429" data-native="71429">¥468,268万</td>
        <td>6.51%</td>
        <td>刚刚</td>
        <td>
          <div class="addto disactive" id="FocusSiteChose#bitcoin#okex#btc_usdt" onclick="addsitechose($(this));">添加自选</div></td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <a href="../exchange/bitfinex/index.html" target="_blank">
            <img src="https://static.eastcoinbay.com/PlatImages/20170809/98dad75b43fa40e3867443131f9492d9_15_15.png" alt="Bitfinex">Bitfinex</a></td>
        <td>
          <a href="https://www.bitfinex.com" target="_blank">BTC/USD</a></td>
        <td class="price" data-usd="10265" data-cny="65761" data-btc="1" data-native="10265">¥65,761</td>
        <td>75,321</td>
        <td class="volume" data-usd="773169107" data-cny="4953153252" data-btc="75321" data-native="75321">¥495,315万</td>
        <td>6.88%</td>
        <td>2分钟前</td>
        <td>
          <div class="addto disactive" id="FocusSiteChose#bitcoin#bitfinex#btc_usd" onclick="addsitechose($(this));">添加自选</div></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <a class="seeAll" href="../currencies/bitcoin/market.html" target="_blank">查看全部</a>
</div>

<script type="text/javascript">
  new Tablesort(document.getElementById('markets'));
</script>