<div class="m15"></div>
<div class="slideBtn unit">
  <button>人民币(CNY)</button>
  <ul>
    <li class="pointer">
      <a href="index.html#native" class="price-toggle" data-currency="native">平台价格</a></li>
    <li>
      <a href="index.html#CNY" class="price-toggle" data-currency="cny">人民币(CNY)</a></li>
    <li>
      <a href="index.html#USD" class="price-toggle" data-currency="usd">美元(USD)</a></li>
    <li>
      <a href="index.html#BTC" class="price-toggle" data-currency="btc">比特币(BTC)</a></li>
    <li>
      <a href="index.html#ETH" class="price-toggle" data-currency="eth">以太坊(ETH)</a></li>
    <li>
      <a href="index.html#JPY" class="price-toggle" data-currency="jpy">日元(JPY)</a></li>
    <li>
      <a href="index.html#KRW" class="price-toggle" data-currency="krw">韩币(KRW)</a></li>
    <li>
      <a href="index.html#HKD" class="price-toggle" data-currency="hkd">港币(HKD)</a></li>
    <li>
      <a href="index.html#RUB" class="price-toggle" data-currency="rub">卢布(RUB)</a></li>
    <li>
      <a href="index.html#INR" class="price-toggle" data-currency="inr">卢比(INR)</a></li>
    <li>
      <a href="index.html#AUD" class="price-toggle" data-currency="aud">澳元(AUD)</a></li>
    <li>
      <a href="index.html#EUR" class="price-toggle" data-currency="eur">欧元(EUR)</a></li>
    <li>
      <a href="index.html#CHF" class="price-toggle" data-currency="chf">法郎(CHF)</a></li>
    <li>
      <a href="index.html#GBP" class="price-toggle" data-currency="gbp">英镑(GBP)</a></li>
    <li>
      <a href="index.html#CAD" class="price-toggle" data-currency="cad">加元(CAD)</a></li>
    <li>
      <a href="index.html#IDR" class="price-toggle" data-currency="idr">印尼盾(IDR)</a></li>
    <li>
      <a href="index.html#BRL" class="price-toggle" data-currency="brl">巴西雷亚尔(BRL)</a></li>
    <li>
      <a href="index.html#MXN" class="price-toggle" data-currency="mxn">比索(MXN)</a></li>
  </ul>
</div>
<script>
  $(function(){
    //下拉菜单
    $('.slideBtn').click(function (e) {
        e.stopPropagation();
        if ($(this).find('ul').css('display') !== 'block') {
            $('.slideBtn').find('ul').css('display', 'none');
            $(this).find('ul').slideDown(100);
        }
        else {
            $('.slideBtn').find('ul').slideUp(100);
        }
    });
    $('.unit ul li').click(function () {
        $(this).closest('.slideBtn').find('button').text($(this).text());
        $('.slideBtn').find('ul').slideUp(100);

    });

    //点击屏幕取消
    $('html').click(
        function () {
            $('.slideBtn ul').slideUp(100);
        }
    );
  })
</script>
<div style="display:none" id="currency-exchange-rates" data-cny="0.15609634266269143" data-usd="1" data-btc="10407.1" data-eth="937.01207246177455" data-jpy="0.009038240796811307" data-krw="0.0009309210066979767" data-hkd="0.1279132236690629" data-rub="0.017693180782728624" data-inr="0.01567275291905023" data-aud="0.796781004740847" data-eur="1.2246707472695966" data-chf="1.0394707846341271" data-gbp="1.3952177516344977" data-cad="0.8015710793154583" data-idr="7.47758696218376e-05" data-brl="0.3121297361005507" data-mxn="0.053277072744515125"></div>
<div class="m15"></div>
<table class="table noBg">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>交易对</th>
      <th>价格</th>
      <th>成交量</th>
      <th>成交额</th>
      <th>占比</th>
      <th>更新时间</th>
      <th>自选状态</th></tr>
  </thead>
  <tbody>
    <% (1..20).each do %>
    <tr>
      <td>1</td>
      <td>
        <a href="../currencies/bitcoin.html" target="_blank">
          <img src="https://static.eastcoinbay.com/Coin/7033f2f2c2a16094bbb3bafc47205ba8_small.png" alt="比特币-Bitcoin">比特币-Bitcoin</td>
      <td>BTC/USDT</td>
      <td class="price" data-usd="10237" data-cny="65581" data-btc="1" data-native="10221">¥65,581</td>
      <td>10,196</td>
      <td class="volume" data-usd="104372032" data-cny="668638548" data-btc="10196" data-native="10196">¥66,864万</td>
      <td>10.43%</td>
      <td>刚刚</td>
      <td>
        <div class="addto disactive" id="FocusCoinChose#bitcoin#huobipro#btc_usdt" onclick="addsitechose($(this));">添加自选</div></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="tips"></div>


<script>
  //取消自选（交易对）
  function cancelsitechose(keys) {
      
      var id = keys.attr("id");

      keys.attr("disabled", "disabled");
      keys.html("提交中...");
      var parms = new Object();
      var coincode = id.split("#")[1];
      var sitecode = id.split("#")[2];
      var symbolpair = id.split("#")[3];
      parms["coincode"] = coincode;
      parms["sitecode"] = sitecode;
      parms["symbolpair"] = symbolpair;
      parms["type"] = "2";
      $.ajax({
          url: "/user/post.coinsitefocus",
          data: parms,
          type: "post",
          async: true,
          xhrFields: {
              withCredentials: true
          },
          success: function (data) {
              cancelsitefocusResponse(data);
          }
      });
     

      function cancelsitefocusResponse(data) {


          var result = eval("(" + data + ")");
          if (result.status == "success") {
              keys.attr("onclick", "addsitechose($(this))");
              keys.attr("class", "addto disactive");
              keys.removeAttr("disabled");
              keys.html("添加自选");
          }
          else {
              alert(result.content);
              keys.removeAttr("disabled");
              keys.attr("class", "hasaddto disactive");
              keys.html("移除自选");
          }
      }
  }      

  //添加自选(交易对)
  function addsitechose(keys) {
      
      var id = keys.attr("id");

      keys.attr("disabled", "disabled");
      keys.html("提交中...");
      var parms = new Object();
      var coincode = id.split("#")[1];
      var sitecode = id.split("#")[2];
      var symbolpair = id.split("#")[3];
      parms["coincode"] = coincode;
      parms["sitecode"] = sitecode;
      parms["symbolpair"] = symbolpair;
      parms["type"] = "1";
     
      $.ajax({
          url: "/user/post.coinsitefocus",
          data: parms,
          type: "post",
          async: true,
          xhrFields: {
              withCredentials: true
          },
          success: function (data) {
              addsitefocusResponse(data);
          }
      });
      function addsitefocusResponse(data) {

          var result = eval("(" + data + ")");
          if (result.status == "success") {
              keys.attr("onclick", "cancelsitechose($(this))");
              keys.attr("class", "hasaddto disactive");

              keys.removeAttr("disabled");
              keys.html("移除自选");
          }
          else {
              alert(result.content);
              keys.removeAttr("disabled");
              keys.attr("class", "addto disactive");
              keys.html("添加自选");
          }

      }
  }
</script>