<style>
.tabTit .more {
  margin-right: 15px;
  margin-top: 15px
}
</style> 
<div class="box box325">
  <div class="boxTit">
    <h2>最近上市的货币</h2>
    <a href="../currencies/newest.html" class="more" title="更多"></a>
  </div>
  <div class="tabBody padding5">
    <style>
    #newCoin {
      background: #fff !important
    }
    </style>            
    <table class="table noBg" id="newCoin">
      <thead>
        <tr>
          <th>名称</th>
          <th>价格</th>
          <th>涨跌幅</th>
          <th>时间</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="/currencies/ht/" target="_blank">
              <img src="//static.eastcoinbay.com/Coin/20180123/68450a0c1b824c92ba23aa630ee47a2f.png" alt="火币全球通用积分-HT">HT</a></td>
          <td>?</td>
          <td>
            <span class="text-green">0%</span></td>
          <td>今天</td></tr>
      </tbody>              
    </table>
  </div>
</div>