<div class="slideBtn btnlink">
  <a href="/currencies">全部</a>
</div>
<style>
.usercustom {
  position: relative;
}

.usercustom:after {
  content: 'new';
  height: 10px;
  line-height: 10px;
  padding: 3px 5px 3px 3px;
  background: red;
  border-radius: 3px;
  font-style: italic;
  display: block;
  position: absolute;
  color: #fff;
  transform: scale(0.8);
  top: 0;
  margin-top: -8px;
  right: 2px;
  margin-right: -3px;
}
</style>
<style>
.btnlink button:after {
    display: none !important;
}

.btnlink a {
    color: #333;
    text-decoration: none;
    height: 20px;
}

.btnlink  a:hover {
    color: #fff;
    background: #3499da;
}
</style>
<style>

.slideBtn span:after {
    margin-left: 2px
}

.slideBtn {
    position: relative;
    display: inline-block;
    z-index: 9999
}

.slideBtn button, .slideBtn>a {
    height: 32px;
    display: inline-block;
    border: 1px solid #eaecef;
    border-radius: 3px;
    position: relative;
    background: #fff;
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
    transition: all .3s
}

.slideBtn button:hover {
    background: #3499da;
    color: #fff
}

.slideBtn span {
    line-height: 32px;
    padding: 0 10px
}

.slideBtn ul {
    position: absolute;
    border: 1px solid #eaecef;
    box-shadow: 1px 1px 3px #eaecef;
    margin-left: -1px;
    margin-top: 5px;
    background: #fff;
    padding: 3px 0;
    border-radius: 3px;
    display: none;
    white-space: nowrap;
    min-width: 100%
}

.slideBtn ul li a {
    padding: 3px 10px;
    display: block;
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    color: #333
}

.slideBtn ul li a:hover {
    background: #3499da;
    color: #fff
}

.slideBtn button:active {
    background: #3499da;
    color: #fff
}
</style>
<div class="slideBtn btnlink usercustom">
  <a href="/currencies">自选行情</a>
</div>
<div class="slideBtn">
  <button>货币</button>
  <style>
  .sline {
    height: 1px;
    background: #eaecef
  }
  </style>  
  <ul>
    <li>
      <a href="/currencies">前100</a></li>
    <li class="sline"></li>
    <li>
      <a href="/currencies">根据流通市值排序</a></li>
    <li>
      <a href="/currencies?category=marketcap-by-totalsupply">根据总市值排序</a></li>
    <li>
      <a href="/currencies?category=filter-nonmineable">过滤不可挖矿</a></li>
    <li>
      <a href="/currencies?category=filter-premined">过滤预挖矿的</a></li>
    <li>
      <a href="/currencies?category=filter-nonmineable_premined">过滤不可挖矿及预挖矿的</a></li>
  </ul>
</div>
<div class="slideBtn">
  <button>代币</button>
  <ul>
    <li>
      <a href="/currencies">前100</a></li>
    <li class="sline"></li>
    <li>
      <a href="/currencies">根据流通市值排序</a></li>
    <li>
      <a href="/currencies?category=marketcap-by-totalsupply">根据总市值排序</a></li>
  </ul>
</div>
<script>
  $(function(){
    //下拉菜单
    $('.slideBtn').click(function (e) {
        e.stopPropagation();
        if ($(this).find('ul').css('display') !== 'block') {
            $('.slideBtn').find('ul').css('display', 'none');
            $(this).find('ul').slideDown(100);
        }
        else {
            $('.slideBtn').find('ul').slideUp(100);
        }
    });
    $('.unit ul li').click(function () {
        $(this).closest('.slideBtn').find('button').text($(this).text());
        $('.slideBtn').find('ul').slideUp(100);

    });

    //点击屏幕取消
    $('html').click(
        function () {
            $('.slideBtn ul').slideUp(100);
        }
    );
  })
</script>
<%= render "pagination" %>